<STYLE type="text/css">
<!--



body {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  color: black;
  margin-left: 0; 
  margin-right: 0;
  margin-top: 0;  
}

p {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  color: black;
}

li {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  color: black;
}

b {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
  color: black;
}

a {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
  text-decoration:none;
  color: blue;
}

a.header{
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 8pt;
  text-decoration:none;
  color: gray;
}

a.headerbar{
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 8pt;
  text-decoration:none;
  color: white;
}

a.footer{
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 8pt;
  text-decoration:none;
  color: #555555;
}

a:hover { color: orange; }
 
h1 {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18pt;
  color: #333366;
}

h2 {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 14pt;
  color: #333366;
}

h3 {
  font-family: Verdana, Arial, Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 10pt;
  color: #333366;
}

.small {
	font-size: 7pt;
	font-family: Verdana, Arial, Helvetica;
}

.price {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	color: #cc0033;
}

.whitelink {
	font-size: 10pt;
	font-family: Verdana, Arial, Helvetica;
	font-weight: bold;
	color: white;
}



-->
</STYLE>
